<h2>Dashboard</h2>
<hr />

<div class="row">

  <div class="col-lg-5 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <span class="glyphicon glyphicon-comment huge"></span>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{comments.num}}</div>
            <div>New Comments</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <span class="glyphicon glyphicon-thumbs-up huge"></span>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{likes.num}}</div>
            <div>New Likes</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <span class="glyphicon glyphicon-flag huge"></span>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{openIssues.num}}</div>
            <div>Open Issues</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <span class="glyphicon glyphicon-check huge"></span>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{closedIssues.num}}</div>
            <div>Closed Issues</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
