<div class="problem-descrip">
  <h2>{{problem.title}}   </h2>
    <hr/>
    <div class="row">
        <div class="col-md-10">
            Tags: 
            <span class="label label-pill label-info">C#</span>
            <span class="label label-pill label-info">share point</span>
            <span class="label label-pill label-info">Java</span>
            <span class="label label-pill label-info">Development</span>
        </div>

        <div class="col-md-2">
            <a class="glyphicon glyphicon-menu-down text-danger" 
                ng-hide="problem.votes < 1 "
                ng-click="vote(problem, -1)">
            </a>
            <span class="">{{problem.votes}} Votes</span>
            <a class="glyphicon glyphicon-menu-up text-info" ng-click="vote(problem, 1)"></a>
         </div>
    </div>
  <hr />  

    <p>{{problem.description}}</p>
  <hr />  
</div>

<h4>{{problem.comments.length}} Answers</h4>
<hr/>
<div class="problem-comments" ng-repeat="comment in problem.comments | orderBy:'-votes'">
  <h3>{{comment.creator}}
        <a class="glyphicon glyphicon-menu-down text-danger" 
            ng-hide="comment.votes < 1 "
           ng-click="vote(comment, -1)"></a>
    <span>{{comment.votes}}</span>
    <a class="glyphicon glyphicon-menu-up text-info" ng-click="vote(comment, 1)"></a>

    </h3>
  <p>{{comment.description}}</p>
  <hr />
</div>

<div class="problem-comment-submit">
  <label for="commentNew">Comments:</label> <br />
  <textarea id="submitCommentText" ng-model="newComment.description" class="form-control" rows="12"></textarea> <br />
  <button type="submit" id="submitCommentBtn" class="btn btn-info" ng-click="addComment()">Submit Comment</button>
</div>