<h2>Register as a New User</h2>
<br />

<form role="form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" ng-model="newUser.name">
  </div>
  <div class="form-group">
    <label for="email">Email Address:</label>
    <input type="email" class="form-control" id="email" ng-model="newUser.email">
  </div>
  <div class="form-group">
    <label for="dept">Department:</label>
    <input type="text" class="form-control" id="dept" ng-model="newUser.department">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="newUser.password">
  </div>
  <div class="form-group">
    <label for="pwd">Re-enter Password:</label>
    <input type="password" class="form-control" id="pwd-reenter" ng-model="verifyPassword.password"><span class="text-danger" ng-hide="validPwds">Passwords must match!</span>
  </div>
  <button type="submit" class="btn btn-large btn-info" ng-click="newUserReg()">Submit</button>
</form>
